@import "_mixins"

//# ============================================================
//#  Resets
//# ============================================================
*, *:before, *:after
    box-sizing border-box

div, header, footer, section, aside, article    
    vertical-align top

::selection
    background #b3d4fc
    text-shadow none


//# ============================================================
//#  User
//# ============================================================
.clearfix
    clearfix()

.hidden
    display none !important
    visibility hidden

.invisible
    opacity 0 !important

.pull-r
    float right

.pull-l
    float left

.pull-c
    margin-left auto
    margin-right auto

.align-r
    text-align right
    
.align-l
    text-align left
    
.align-c
    text-align center

//# ============================================================
//#  Basic
//# ============================================================
body
    font-family 'PT Sans', sans-serif
    font-size 95%
    color #444

h1, h2, h3, h4, h5, h6
    font-family 'Roboto Condensed', sans-serif

a
    color #07D
    text-decoration none

a:hover
    color #059
    text-decoration underline

img
    max-width 100%
    height auto
    vertical-align top
    border 0

q
    font-style italic

abbr, dfn
    border-bottom 1px dotted

abbr[title], dfn[title]
    cursor help

hr
    display block
    padding 0
    border-width 0 0 1px
    border-style solid
    border-color #ccc

mark, ins
    background #FFA
    color #444
    padding 0 5px
    display inline-block
    text-decoration none
