//# ============================================================
//#  Utils
//# ============================================================
clearfix()
    &:before,
    &:after
        content " "
        display table
    &:after
        clear both

size(w, h)
    width w
    height h

square(size)
    size(size, size)

//# ============================================================
//#  CSS3
//# ============================================================
transition(d, p = all, e = ease)
    transition d p e